<div class="about">
  <div class="row">
    <div class="small-12 columns section-title">
      <h2 id="about_me_header" class="section-header left light">About</h2>
    </div>
  </div>
  <div class="row content">
    <div class="small-12 medium-6 columns">
      <figure>
        <img src="http://placekitten.com/550/550" alt="my-face" />
      </figure>
    </div>
    <div class="small-12 medium-6 columns">
      <p>I inquire, deconstruct, understand, and build. A self-employeed web development contractor, who is driven  building a music-sharing platform on the side. Prior to this I completed General Assembly's Web Development Immersive, worked R American Express on the all-star Digital Parterships team after graduating from McGill University. I grew up in NYC and was born in Greece.</p>
    </div>
  </div>
</div> 