<section id="about" class="about">
  <a class="nav-link" name="about"></a>
  <div class="row">
    <div class="small-12 columns section-title">
      <h2 id="about_me_header" class="section-header left light">About</h2>
    </div>
  </div>
  <div class="row content">
    <div class="small-12 medium-6 columns">
      <figure>
        <picture>
          <source srcset="{% asset_path IliasTsangaris_large@2x.jpg %}" media="(min-width: 1025px)">
          <source srcset="{% asset_path IliasTsangaris_medium@2x.jpg %}" media="(min-width: 640px)">
          <source srcset="{% asset_path IliasTsangaris_small@2x.jpg %}">
          <img src="{% asset_path IliasTsangaris_medium@2x.jpg %}" alt="Ilias Tsangaris" />
        </picture>
      </figure>
    </div>
    <div class="small-12 medium-6 columns">
      <p>You found me! I'm a self-employeed web developer, currently building a music-sharing platform on the side. Over the past few years I've completed General Assembly's Web Development Immersive, worked for American Express on the Digital Parterships team and graduated from McGill University. Before that I grew up in NYC and started my beginnings in the Hellenic Republic.</p>
    </div>
  </div>
</section> 