<div class="hero-photo">
  <div class="hero-header">
    <div class="row spacer"></div>
    <h1 id="hero-title" class="title-text"><strong>Ilias</strong> Tsangaris</h1>
    <div class="row spacer"></div>
    <div class="row social-icons">
      <div class="small-3 columns"><a href="https://twitter.com/iTsangaris" target="_blank"><i class="foundicon-twitter"></i></a></div>
      <div class="small-3 columns"><a href="https://github.com/iliastsangaris" target="_blank"><i class="foundicon-github"></i></a></div>
      <div class="small-3 columns"><a href="http://www.linkedin.com/in/iliastsangaris" target="_blank"><i class="foundicon-linkedin"></i></a></div>
      <div class="small-3 columns"><a href="mailto:iliastsangaris@gmail.com" target="_blank"><i class="foundicon-chat"></i></a></div>
    </div>
    <div class="row bigger-spacer"></div>
    <h1 class="title-text dark title-description"><span class="emphasis">Full Stack</span> Web Developer</h1>
  </div>
</div> <!-- hero photo -->