<div class="hero-photo">
  <div class="hero-header">
    <h1 id="hero-title" class="title-text">iT is Here</h1>
    <div class="row spacer"></div>
    <div class="row social-icons">
      <div class="small-12 medium-3 columns"><a href="#"><i class="foundicon-twitter"></i></a></div>
      <div class="small-12 medium-3 columns"><a href="#"><i class="foundicon-github"></i></a></div>
      <div class="small-12 medium-3 columns"><a href="#"><i class="foundicon-linkedin"></i></a></div>
      <div class="small-12 medium-3 columns"><a href="#"><i class="foundicon-chat"></i></a></div>
    </div>
  </div>
</div> <!-- hero photo -->