<section id="medium" class="">
  <div class="row content">
    <div class="small-12 columns">
      <!-- Medium -->
      <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" data-width="100%" data-border="true" href="https://medium.com/@itsangaris">Ilias Tsangaris</a>
    </div>
      <!-- Twitter -->
<!--     <div class="small-12 columns">
      <a class="twitter-timeline" href="https://twitter.com/iTsangaris"
        width="300" height="500" 
        data-widget-id="467766157240324096">Tweets by @iTsangaris
      </a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div> -->
  </div>
</section>