<div class="contain-to-grid nav-bar">
  <nav class="top-bar hide-for-small" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a id="home-navbar">Home</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><a id="about-navbar">About</a></li>
        <li><a id="projects-navbar">Projects</a></li>
        <li><a id="technologies-navbar">Technologies</a></li>
      </ul>
    </section>
  </nav> <!-- Top Bar -->
</div>