<div class="sidenav fixed">
  <nav class="tab-bar show-for-small">
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
    <section class="right tab-bar-section">
      <h1 class="title">Welcome</h1>
    </section>
  </nav>
  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label class="first">iT</label></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Technologies</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </aside>
</div>
