<div class="sidenav fixed">
  <nav class="tab-bar show-for-small">
    <section class="left-small">
      <a id="hamburger-icon" class="left-off-canvas-toggle menu-icon" href="#off-canvas-navigation"><span></span></a>
    </section>
    <section class="right tab-bar-section">
      <h1 class="title">Welcome</h1>
    </section>
  </nav>
  <aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
      <li><label class="first">iT</label></li>
      <li><a id="about-sidenav">About</a></li>
      <li><a id="projects-sidenav">Projects</a></li>
      <li><a id="technologies-sidenav">Technologies</a></li>
    </ul>
  </aside>
</div>
