<section id="technologies" class="technologies">
  <div class= "row">
    <div class="small-12 columns section-title">
      <h2 id="projects_header" class="section-header left light">Technologies</h2>
    </div>
  </div>
  <div class="row content">
    <div class="small-12 medium-6 columns technology">
      <table class="table">
        <tr>
          <thead colspan="2">FRONT-END</thead>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Javascript</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Backbone.js</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Sass</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">HTML5</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="small-12 medium-6 columns technology">
      <table class="table">
        <tr>
          <thead colspan="2">FRONT-END</thead>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Javascript</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Backbone.js</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Sass</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">HTML5</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="small-12 medium-6 columns technology">
      <table class="table">
        <tr>
          <thead colspan="2">FRONT-END</thead>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Javascript</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Backbone.js</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Sass</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">HTML5</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
          </td>
        </tr>
      </table>
    </div>
    <div class="small-12 medium-6 columns technology">
       <table class="table">
        <tr>
          <thead colspan="2">FRONT-END</thead>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Javascript</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Backbone.js</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">Sass</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph grey"></div>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="skill-label">HTML5</h4>
          </td>
          <td>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
            <div class="skill-graph blue"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>