@import "_vendor/normalize";
@import "_vendor/foundation";
@import "_vendor/social_foundicons";


$break-small: 40em;

.show-onload {
  display: none;
}

.page-container {
  display: inline;
}

.spacer {
  height: 5em;
  @media screen and (max-width: $break-small) {
    height: 1em;
  }
}

.hero-photo {
  width: 100%;
  height: 100%;
  background: url(http://oi61.tinypic.com/2h4xovn.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.title-text {
  color: #FEFEFE;
  // font-family: 'Lato', Helvetica, sans-serif;
  font-family: helvetica;
  font-weight: 100;
  font-size: 4em;
  text-shadow: 0 1px rgba(123, 122, 122, 0.6);
  width: 100%;
  margin: 0;
  padding-top: .7em;
  text-align: center;
}

.social-icons {
  width: 100%;
  text-align: center;
}

// .hero-text {
//   position: absolute;
//   font-size: 2em;
//   font-family: Helvetica;
//   font-weight: 300;
//   bottom: .4em;
//   color: #FEFEFE;
//   width: 100%;
//   text-align: center;
// }

.sticking-nav {
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  margin-top: 0 !important;
}

.contain-to-grid {
  margin-top: -45px;
  a {
    font-family: helvetica;
  }
}

.about-me {
  margin: 0;
  width: 100%;
  height: 100%;
  background: blue;
}

.portfolio {
  margin: 0;
  width: 100%;
  height: 100%;
  background: green;
}

.blue {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}