<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
    <div class="page-container">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            {% include sidenav.html %}
            {% include hero.html %}
            {% include navbar.html %}
            {% include aboutme.html %}
            {% include projects.html %}
            {% include technologies.html %}
          <a class="exit-off-canvas"></a>
        </div>
      </div>
    </div>
  </body>
  <!-- Load JS -->
  {% javascript app %}
  <script type="text/javascript">
    $(document).foundation();
  </script>
</html>
